In [25]:
import pandas as pd
import numpy as np

In [26]:
outC = pd.read_csv("outC.csv")
outL = pd.read_csv("energy.csv")
outC.head()

,File,beta,Lx,Ly,Lz,E_long,E_coul,Total
0,POSCAR1,0.2168,25.0,25.0,25.0,-49618.222718,-111441.610581,-161059.833298
1,POSCAR2,0.2168,25.0,25.0,35.0,-190792.951295,86467.627094,-104325.324200
2,POSCAR3,0.2168,25.0,25.0,45.0,-37594.851176,-21249.345736,-58844.196912
3,POSCAR4,0.2168,25.0,35.0,25.0,-248821.813112,-96593.525198,-345415.338310
4,POSCAR5,0.2168,25.0,35.0,35.0,-155268.991127,10297.477763,-144971.513364

In [28]:
finalx=pd.DataFrame()

finalx.insert(0,"Total",abs(outC['Total']-outL['Total'])*4.184)
finalx.insert(0,"E_coul",abs(outC['E_coul']-outL['Ecoul'])*4.184)
finalx.insert(0,"E_long",abs(outC['E_long']-outL['Elong'])*4.184)
finalx.insert(0,"Lz",outC["Lz"])
finalx.insert(0,"Ly",outC["Ly"])
finalx.insert(0,"Lx",outC["Lx"])
finalx.to_clipboard()