In [68]:
import pandas as pd
import numpy as np

In [69]:
xC=pd.read_csv("x/out.csv")
xL=pd.read_csv("x/energyx.csv")
yC=pd.read_csv("y/out.csv")
yL=pd.read_csv("y/energyy.csv")
zC=pd.read_csv("z/out.csv")
zL=pd.read_csv("z/energyz.csv")
xC.head(10)

      File        E_long        E_coul         Total
0  POSCAR1  1.436077e+08  6.969094e+07  2.132986e+08
1  POSCAR2  1.413200e+08  6.870894e+07  2.100290e+08
2  POSCAR3  1.430244e+08  6.925380e+07  2.122782e+08
3  POSCAR4  1.426509e+08  6.944893e+07  2.120999e+08

In [70]:
xL.head()

   Unnamed: 0         Ecoul         Elong         Total
0           0  6.969097e+07  1.436078e+08  2.132987e+08
1           1  6.870897e+07  1.413202e+08  2.100291e+08
2           2  6.925382e+07  1.430245e+08  2.122784e+08
3           3  6.944896e+07  1.426511e+08  2.121000e+08

In [71]:
finalx=pd.DataFrame()
finaly=pd.DataFrame()
finalz=pd.DataFrame()

finalx.insert(0,"Total",abs(xC['Total']-xL['Total'])*4.184)
finalx.insert(0,"E_coul",abs(xC['E_coul']-xL['Ecoul'])*4.184)
finalx.insert(0,"E_long",abs(xC['E_long']-xL['Elong'])*4.184)

finaly.insert(0,"Total",abs(yC['Total']-yL['Total'])*4.184)
finaly.insert(0,"E_coul",abs(yC['E_coul']-yL['Ecoul'])*4.184)
finaly.insert(0,"E_long",abs(yC['E_long']-yL['Elong'])*4.184)

finalz.insert(0,"Total",abs(zC['Total']-zL['Total'])*4.184)
finalz.insert(0,"E_coul",abs(zC['E_coul']-zL['Ecoul'])*4.184)
finalz.insert(0,"E_long",abs(zC['E_long']-zL['Elong'])*4.184)

finalx.head()

       E_long      E_coul       Total
0  506.095298  111.943505  618.038803
1  512.945203  110.324501  623.269704
2  515.926690  111.419865  627.346555
3  505.258045  111.332190  616.590236

In [72]:
finaly.head()

       E_long      E_coul       Total
0  500.267799  110.510251  610.778050
1  530.978748  111.011516  641.990264
2  537.372220  112.144477  649.516697
3  514.952089  112.118972  627.071061

In [73]:
finalz.to_clipboard()